<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CookingApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- for activity - pg03_SurveyActivity -->
        <activity
            android:name=".pg03_SurveyActivity"
            android:label="Survey Activity" />

        <!-- for activity - pg04_LandingActivity -->
        <activity
            android:name=".pg04_LandingActivity"
            android:label="Landing Activity" />

        <!-- for activity - pg10_SearchResultActivity -->
        <activity
            android:name=".pg10_SearchResultActivity"
            android:label="Search Result Activity" />

        <!-- for activity - pg13_HistoryActivity -->
        <activity
            android:name=".pg13_HistoryActivity"
            android:label="History Activity" />
    </application>

</manifest>